a {
  text-decoration: none;
}
.container {
  width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}
.view-title {
  padding: 20px 0;
  font-weight: 700;
  font-size: 24px;
  color: #222;
  border-bottom: 2px solid #f1e6c2;
}
